{{ csrf_input() }}
<div class="row" style="align-items: flex-end;">
    <div class="col-md-4">
        {{ field('name', item.name, 'Post title', { class: 'form-control', }) }}
    </div>

    <div class="col-md-4">
        {{ field('category_id', item.categoryId, 'Category', { class: 'form-control', options: categories }) }}
    </div>
    <div class="col-md-4">
        {{ field('published', item.published, 'On line?', { class: 'form-control', type: 'checkbox' }) }}
    </div>
</div>
<div class="row" style="align-items: flex-end;">
    <div class="col-md-4">
        
        {% if item.image %}
            <img src="{{ item.thumb }}" alt="{{ image }}" class="w-100">
        {% endif %}
            
    </div>
    <div class="col-md-4">
        {{ field('image', item.image, 'Image', { class: 'form-control', type: 'file' }) }}
    </div>
    <div class="col-md-4">
        {{ field('slug', item.slug, 'Link', { class: 'form-control', }) }}
    </div>
</div>
    {{ field('content', item.content, 'Content', { class: 'form-control', type: 'textarea' }) }}
    {{ field('created_at', item.createdAt, 'Creation date', { class: 'form-control datepicker'}) }}