{{ csrf_input() }}
<div class="row">
    <div class="col-md-6">
        {{ field('name', item.name, 'Post title', { class: 'form-control', }) }}
    </div>

    <div class="col-md-6">
        {{ field('category_id', item.category_id, 'Category', { class: 'form-control', options: categories }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ field('image', item.image, 'Image', { class: 'form-control', type: 'file'}) }}
    </div>
    <div class="col-md-6">
        {{ field('slug', item.slug, 'Link', { class: 'form-control', }) }}
    </div>
</div>
    {{ field('content', item.content, 'Content', { class: 'form-control', type: 'textarea' }) }}
    {{ field('created_at', item.created_at, 'Creation date', { class: 'form-control datepicker'}) }}