{% extends "layout.twig" %}


{% block content %}
{% if flash('error') %}
<div class="alert alert-danger">
    {{ flash('error') }}
</div>
{% endif %}

<form action="{{ path('auth.login') }}" method="post">
    {{ field('username',null, 'User name') }}
    {{ field('password',null, 'Password', {type: 'password'})}}
    {# <button type="submit" class="btn btn-primary">Se connecter</button> #}
    {{ csrf_input() }}
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock content %}