{% extends 'layout.twig' %}

{% block title %}
{% if page > 1 %}{% set the_page = ',page ' ~ page %}{% endif %}

{% if category %}
Category: {{ category.name }}{{ the_page }}
{% else %}
Welcome to the Blog!{{ the_page }}
{% endif %}
{% endblock %}


{% block content %}

{% if page > 1 %}{% set the_page = ',page ' ~ page %}{% endif %}

{% if category %}
<h1>Category: {{ category.name }}{{ the_page }}</h1>
{% else %}
<h1>Welcome to the Blog!{{ the_page }}</h1>
{% endif %}

<div class="row">
    <div class="col-md-9">
        {% for row in posts | batch(4) %}
        <div class="card-deck">

            {% for post in row %}

            <div class="card mb-4">
                {% if post.category_name %}
                <div class="card-header">{{ post.category_name }}</div>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title"><a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">{{ post.name }}</a></h4>
                    <p class="card-text">
                        {{ post.content | excerpt | nl2br }}
                        {# {{ post.content | truncate(100, true, '...') | nl2br}} #}
                    </p>
                    <p class="text-muted">{{ post.created_at | ago }}</p>
                </div>
                <div class="card-footer"><a href="{{ path_for('blog.show', {slug: post.slug, id: post.id}) }}" class="btn-btn-primary">Read more<span class="sr-only sr-only-focusable"> of the post</span></a></div>
            </div>

            {% endfor %}
        </div>
        {% else %}
        <p>No posts</p>
        {% endfor %}
        {% if category %}
        <div class="d-flex justify-content-center mt-5 mb-4">
            {{ paginate(posts, 'blog.category', { slug: category.slug }) }}
        </div>
        {% else %}
        {% if posts %}
        <div class="d-flex justify-content-center mt-5 mb-4">
            {{ paginate(posts, 'blog.index') }}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            {% for c in categories %}
            <li class="list-group-item {% if c.id == category.id %}  list-group-item-action active {% endif %}" {% if c.id == category.id %} aria-current="true" {% endif %}><a href="{{ path_for('blog.category', { slug: c.slug }) }}" style="color: inherit;">{{ c.name }}</a></li>
            {% endfor %}
        </ul>

    </div>

</div>

{% endblock content %}