{% extends 'layout.twig' %}

{% block title post.name %}


{% block content %}
    <h1>{{ post.name  }}</h1>
    <p class="text-muted">
    {% if post.category_id %}
        <a href="{{ path_for('blog.category', { slug: post.category_slug}) }}" aria-label="{{ post.category_name }}">{{ post.category_name }}</a>
    {% endif %}
        {{ post.created_at | ago }}</p>
    {{ post.content | nl2br }}
{% endblock content %}
